
  /* Page de D'inscription */
 
   header .content1{
    position: relative;
    width: 100%;
    height: 93%;
}

header .content1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('Assets/Images/istockphoto-1271764127-612x612.jpg')no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;
} 
 .info p {
    text-align:center;
    color: #b5b4b4;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
  }
  
  .info i {
    color:#55acee;
  }
  
  h1 {
    text-align:center; 
    color: #b1b1b1;
    text-shadow: 1px 1px 0px #000000;
    margin-top: 10px;
    margin:50px 0px 0px 0px 
   } 
  
   h2 {
    font-size: 20px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 17px;
    font-weight: 600;
  }
  
  a {
    text-decoration: inherit;
    color: inherit;
  }
  
  a:hover {
    text-decoration: inherit;
  }
  
  hr {
    position: relative;
    margin-top: 27%;
    border-radius: 50px;
    opacity: 0.15;
  }
  
  .content- {
    position: absolute;
    margin-top: 5px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #ffffff;
    z-index:-1;
  }
  
  .container- {
    background: rgba(53, 53, 53, 0.563);
    display: block;
    position: relative;
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 280px; 
    box-shadow: 1px 5px 10px 1px #d1d1d1;
    overflow:hidden;
    border: 1px solid;
  }
  

  
  .menu {
    position: relative;
    padding: 15% 13% 0 13%;
  }
  
  .menu h2 {
    display: inline;
    margin: 20px;
    padding-bottom: 3px;
    border-bottom: 3px solid #1161ee;
  }
  a:not(.active) {
    cursor:pointer;
  }
  .menu .active h2 {
    border-bottom: 0 solid #1161ee;
    color: #AEAEAE;
    transition: color 0.5s ease-in;
  }
  
  .connexion {
      position: absolute;
      padding: 15% 13%;
      width: 74%;
      left:0px;
      transition: all 0.7s;
  }
  
  .connexion h2 {
      display: inline;
      margin: 20px;
      padding-bottom: 3px;
      border-bottom: 2px solid #1161ee;
  }
  
  .connexion h4 {
      margin-bottom: 0;
      text-align: center;
      color: #000000;
      opacity: 0.3;
  }
  
  .connexion h4:hover {
      opacity: 0.8;
      transition: all 0.1s ease-in;
  }
  
  label {
      display: block;
      margin-top: 10px;
      padding: 5px 10px;
      font-size: 15px;
      font-weight: 600;
      color: #000000;
  }
  
  input {
      display: block;
      width: 93%;
      margin: auto;
      padding: 13px;
      border: 0;
      border-radius: 20px;
      font-family: "Roboto",sans-serif;
      opacity: 0.15;
      background-color: #1b1a1a;
  }
  
  input p {
      color: #0a0a0a;
      opacity: 1;
  }
  
  input.submit {
      width: 100%;
      padding: 10px;
      font-size: 17px;
      font-weight: 700;
      color: #fff;
      opacity: 1;
      background-color: #1161EE;
      cursor: pointer;
  }
  .enregistrer {
      position: absolute;
      padding: 15% 13%;
      width: 74%;
      right:0px;
      transition: all 0.7s;
  }
  .active-section {
      position: absolute;
      right:500px;
  }
  .remove-section {
      position: absolute;
      left: 500px;
 } 